{% extends "layouts/base.html" %}

{% block title %} Image Captioning {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>
    <div class="section-header bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <h3 class="text-center">Image to Speech</h3>
            </div>
            <br />
            <div class="row justify-content-center">
                <ul class="list-inline text-center mb-0">
                    <li class="list-inline-item">
                        <a class="icon icon-md icon-github me-3" href="https://github.com/fhashmi10/itos" target="_blank"
                            data-toggle="tooltip" data-placement="top" title="github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <!-- Form -->
    <form action="/image-captioning.html" method="POST" enctype="multipart/form-data">
    <!-- Section -->
    <div class="section section-md pt-4">
        <div class="container">
            <div class="row mb-4 mb-lg-5 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center">
                        <label for="formFile" class="form-label">Upload image to generate audio caption<br />(jpeg,
                            jpg, png)</label>
                        <input class="form-control" type="file" name="file" id="formFile" /><br />
                        <button class="btn btn-lg btn-primary" type="submit">Generate Caption</button>
                    
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center">
                    <audio controls="controls" autoplay="autoplay" src={{ audio_filename }}>Your browser does not
                        support the audio element.</audio>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center">
                    <div class="accordion" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    or choose an image from sample
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <button type="submit" name="sample1" value="sample1">
                                        <img src="/static/assets/img/sample/efb-1.jpg" class="card-img-top rounded-top rounded-bottom" name='efb-1' alt="submit" />
                                    </button>
                                    <button type="submit" name="sample2" value="sample2">
                                        <img src="/static/assets/img/sample/efb-2.jpg" class="card-img-top rounded-top rounded-bottom" name='efb-2' alt="submit" />
                                    </button>
                                    <button type="submit" name="sample3" value="sample3">
                                        <img src="/static/assets/img/sample/efb-3.jpg" class="card-img-top rounded-top rounded-bottom" name='efb-3' alt="submit" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <label class="form-label" style="color:red">{{ message }}</label>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="text-center">
                    <label class="form-label">
                        This model is trained for 10 epochs only through Flickr 8K dataset.<br/>
                        For a better performing model, training can be done for more epochs.<br/>
                        MS-COCO dataset can also be used based on resources availability.</h3>
                    </label>
                </div>
            </div>
        </div>
        <!-- End of Section -->
    </form>
    <!-- End of Form -->

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}