{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<main>
    <!-- Hero -->
    <div class="section-header bg-primary pt-8 pt-lg-8 pb-12 pb-lg-12 text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="fw-bolder display-2">
                        Hi there
                    </h1>
                    <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                        Checkout my projects with their source code shared
                    </h2>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}